#exports {
    background: url("../img/statement/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#exports .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
}

#tech-exports h3 {
    color: #fff;
    font-size: 28px;
    line-height: 45px;
}

#tech-exports p {
    font-size: 40px;
    color: #f4c613;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}